.card {
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray, -1px -1px 6px gray;
    margin-bottom: 100px;
}

.cardImg {
    max-width: 100%;
    aspect-ratio: 3/2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImg>p {
    font-size: 5rem;
}

.cardBody {
    padding: 20px;
}

.cardBody :not(:last-child) {
    margin-bottom: 10px;
}

button {
    background-color: rgb(232, 157, 18);
    padding: 5px 10px;
    color: white;
}