.card {
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray, -1px -1px 6px gray;
    margin-bottom: 100px;
}


.cardImg>img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3/2;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardBody {
    padding: 20px;
}

.cardBody :not(:last-child) {
    margin-bottom: 10px;
}

button {
    background-color: rgb(232, 157, 18);
    padding: 5px 10px;
    color: white;
}